/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}
:root {
  --timing: 400ms;
  --rotation: 25deg;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Roboto";
}

.swiper-slide-hero {
  position: relative;
  width: 100%;
}
.swiper-hero-img {
  width: 100%;
}
.swiper-hero-word {
  position: absolute;
  width: 25%;
}
.hero-word-1 {
  top: 3rem;
  left: 20%;
}
.hero-word-2 {
  top: 3rem;
  left: 20%;
}
.hero-word-3 {
  top: 3rem;
  right: 20%;
}
/* Initial state */
.hero-word-1,
.hero-word-2,
.hero-word-3 {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.65s cubic-bezier(0,.57,0,1.01), transform 0.65s;
}

/* Active state */
.active {
  opacity: 1;
  transform: scale(1);
}

.cards-hover-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px; /* Adjust the value for a stronger/weaker 3D effect */
}
.center {
  display: flex;
  align-items: center;
  perspective: 1000px;
  gap: 3rem;
  padding: 5rem 20%;
  background: #16161d;
}
.yoda {
  width: 100%;
  aspect-ratio: 8 / 12;
  position: relative;
  transform-style: preserve-3d;
  transition: rotate var(--timing) ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yoda img {
  width: 100%;
  object-position: center;
}

.card-title {
  z-index: 101;
  position: absolute;
  font-family: 'Roboto';
  font-size: 3rem;
  color: #fff;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

.yoda:hover {
  rotate: x var(--rotation);
}

.yoda::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 100;
  background-image: radial-gradient(circle, transparent 150px, black);
  opacity: 0;
  transition: opacity var(--timing);
  border-radius: 15px;
}

.yoda:hover::before {
  opacity: 1;
  border-radius: 15px;
}

.yoda::after {
  content: '';
  position: absolute;
  inset: 80% 0.5rem 0.5rem;
  translate: 0;
  transform: translateZ(-100px);
  background: #000;
  filter: blur(1rem);
  z-index: 1;
  border-radius: 5px;
  transition: rotate var(--timing), translate var(--timing);
}

.yoda:hover::after {
  rotate: x calc(var(--rotation) * -1);
  translate: 0 40px;
  transform-origin: center; 
  transform-style: preserve-3d; 
  border-radius: 15px;
}

.bg-image {
  position: absolute;
  z-index: 10;
  height: 100%;
  object-fit: cover;
  object-position: -150px center;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  border-radius: 15px;
}

/* Add compatibility for JS-triggered changes */
.bg-image[src='images/card-3.jpg'] {
  object-position: 0 center; /* Adjust position for new image */
}

.logo,
.front-image {
  position: absolute;
}

.logo {
  z-index: 1000;
  width: 65%;
  margin-inline: auto;
  inset: auto 0 2rem;
  transform: translateY(0rem) translateZ(20px);
  transition: var(--timing);
}

.yoda:hover .logo {
  transform: translateY(-1rem) translateZ(20px);
  rotate: x calc(var(--rotation) * -1);
}

.front-image {
  scale: 1.125;
  transform-origin: bottom;
  opacity: 0;
  z-index: 100;
  transition: var(--timing);
}

.yoda:hover .front-image {
  opacity: 1;
  transform: translateY(-2rem) translateZ(-10px);
  rotate: x calc(var(--rotation) * -1);
}
@media screen and (max-width: 1200px) {
  .center {
    padding: 5rem;
  }
}

